/* VideoList.css */

/* Adjust the number of videos per row for different screen sizes */
@media only screen and (max-width: 767px) {
//   .video-row {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//   }

//   .video-player {
//     width: 50%;
//   }
.mobileview{
    width: 100% !important;
}
.unset_flex{
    display: unset !important;
}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .video-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .video-player {
    width: 50%;
  }
}

// @media only screen and (min-width: 992px) {
//   .video-row {
//     display: flex;
//     justify-content: space-between;
//   }

//   .video-player {
//     width: 33.33%;
//   }
// }
